@font-face {
  font-family: 'Karate-Kit-Lineal';
  src:  url('https://gjeria.github.io/karate-kit-icons/fonts/Karate-Kit-Lineal.eot?n6o0of');
  src:  url('https://gjeria.github.io/karate-kit-icons/fonts/Karate-Kit-Lineal.eot?n6o0of#iefix') format('embedded-opentype'),
    url('https://gjeria.github.io/karate-kit-icons/fonts/Karate-Kit-Lineal.ttf?n6o0of') format('truetype'),
    url('https://gjeria.github.io/karate-kit-icons/fonts/Karate-Kit-Lineal.woff?n6o0of') format('woff'),
    url('https://gjeria.github.io/karate-kit-icons/fonts/Karate-Kit-Lineal.svg?n6o0of#Karate-Kit-Lineal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="kit-"], [class*=" kit-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Karate-Kit-Lineal' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kit-lineal-100:before {
  content: "\e900";
}
.kit-lineal-101:before {
  content: "\e901";
}
.kit-lineal-102:before {
  content: "\e902";
}
.kit-lineal-103:before {
  content: "\e903";
}
.kit-lineal-104:before {
  content: "\e904";
}
.kit-lineal-105:before {
  content: "\e905";
}
.kit-lineal-106:before {
  content: "\e906";
}
.kit-lineal-107:before {
  content: "\e907";
}
.kit-lineal-108:before {
  content: "\e908";
}
.kit-lineal-109:before {
  content: "\e909";
}
.kit-lineal-110:before {
  content: "\e90a";
}
.kit-lineal-111:before {
  content: "\e90b";
}
.kit-lineal-112:before {
  content: "\e90c";
}
.kit-lineal-113:before {
  content: "\e90d";
}
.kit-lineal-114:before {
  content: "\e90e";
}
.kit-lineal-115:before {
  content: "\e90f";
}
.kit-lineal-116:before {
  content: "\e910";
}
.kit-lineal-117:before {
  content: "\e911";
}
.kit-lineal-118:before {
  content: "\e912";
}
.kit-lineal-119:before {
  content: "\e913";
}
.kit-lineal-120:before {
  content: "\e914";
}
.kit-lineal-121:before {
  content: "\e915";
}
.kit-lineal-122:before {
  content: "\e916";
}
.kit-lineal-123:before {
  content: "\e917";
}
.kit-lineal-124:before {
  content: "\e918";
}
.kit-lineal-125:before {
  content: "\e919";
}
.kit-lineal-126:before {
  content: "\e91a";
}
.kit-lineal-127:before {
  content: "\e91b";
}
.kit-lineal-128:before {
  content: "\e91c";
}
.kit-lineal-129:before {
  content: "\e91d";
}
.kit-lineal-130:before {
  content: "\e91e";
}
.kit-lineal-131:before {
  content: "\e91f";
}
.kit-lineal-132:before {
  content: "\e920";
}
.kit-lineal-133:before {
  content: "\e921";
}
.kit-lineal-134:before {
  content: "\e922";
}
.kit-lineal-135:before {
  content: "\e923";
}
.kit-lineal-137:before {
  content: "\e924";
}
.kit-lineal:before {
  content: "\e925";
}
.kit-lineal-0:before {
  content: "\e926";
}
.kit-lineal-1:before {
  content: "\e927";
}
.kit-lineal-2:before {
  content: "\e928";
}
.kit-lineal-3:before {
  content: "\e929";
}
.kit-lineal-4:before {
  content: "\e92a";
}
.kit-lineal-5:before {
  content: "\e92b";
}
.kit-lineal-6:before {
  content: "\e92c";
}
.kit-lineal-7:before {
  content: "\e92d";
}
.kit-lineal-8:before {
  content: "\e92e";
}
.kit-lineal-9:before {
  content: "\e92f";
}
.kit-lineal-10:before {
  content: "\e930";
}
.kit-lineal-11:before {
  content: "\e931";
}
.kit-lineal-12:before {
  content: "\e932";
}
.kit-lineal-13:before {
  content: "\e933";
}
.kit-lineal-14:before {
  content: "\e934";
}
.kit-lineal-15:before {
  content: "\e935";
}
.kit-lineal-16:before {
  content: "\e936";
}
.kit-lineal-17:before {
  content: "\e937";
}
.kit-lineal-18:before {
  content: "\e938";
}
.kit-lineal-19:before {
  content: "\e939";
}
.kit-lineal-20:before {
  content: "\e93a";
}
.kit-lineal-21:before {
  content: "\e93b";
}
.kit-lineal-22:before {
  content: "\e93c";
}
.kit-lineal-23:before {
  content: "\e93d";
}
.kit-lineal-24:before {
  content: "\e93e";
}
.kit-lineal-25:before {
  content: "\e93f";
}
.kit-lineal-26:before {
  content: "\e940";
}
.kit-lineal-27:before {
  content: "\e941";
}
.kit-lineal-28:before {
  content: "\e942";
}
.kit-lineal-29:before {
  content: "\e943";
}
.kit-lineal-30:before {
  content: "\e944";
}
.kit-lineal-31:before {
  content: "\e945";
}
.kit-lineal-32:before {
  content: "\e946";
}
.kit-lineal-33:before {
  content: "\e947";
}
.kit-lineal-34:before {
  content: "\e948";
}
.kit-lineal-35:before {
  content: "\e949";
}
.kit-lineal-36:before {
  content: "\e94a";
}
.kit-lineal-37:before {
  content: "\e94b";
}
.kit-lineal-38:before {
  content: "\e94c";
}
.kit-lineal-39:before {
  content: "\e94d";
}
.kit-lineal-40:before {
  content: "\e94e";
}
.kit-lineal-41:before {
  content: "\e94f";
}
.kit-lineal-42:before {
  content: "\e950";
}
.kit-lineal-43:before {
  content: "\e951";
}
.kit-lineal-44:before {
  content: "\e952";
}
.kit-lineal-45:before {
  content: "\e953";
}
.kit-lineal-46:before {
  content: "\e954";
}
.kit-lineal-47:before {
  content: "\e955";
}
.kit-lineal-48:before {
  content: "\e956";
}
.kit-lineal-49:before {
  content: "\e957";
}
.kit-lineal-50:before {
  content: "\e958";
}
.kit-lineal-51:before {
  content: "\e959";
}
.kit-lineal-52:before {
  content: "\e95a";
}
.kit-lineal-53:before {
  content: "\e95b";
}
.kit-lineal-54:before {
  content: "\e95c";
}
.kit-lineal-55:before {
  content: "\e95d";
}
.kit-lineal-56:before {
  content: "\e95e";
}
.kit-lineal-57:before {
  content: "\e95f";
}
.kit-lineal-58:before {
  content: "\e960";
}
.kit-lineal-59:before {
  content: "\e961";
}
.kit-lineal-60:before {
  content: "\e962";
}
.kit-lineal-61:before {
  content: "\e963";
}
.kit-lineal-62:before {
  content: "\e964";
}
.kit-lineal-63:before {
  content: "\e965";
}
.kit-lineal-64:before {
  content: "\e966";
}
.kit-lineal-65:before {
  content: "\e967";
}
.kit-lineal-66:before {
  content: "\e968";
}
.kit-lineal-67:before {
  content: "\e969";
}
.kit-lineal-68:before {
  content: "\e96a";
}
.kit-lineal-69:before {
  content: "\e96b";
}
.kit-lineal-70:before {
  content: "\e96c";
}
.kit-lineal-71:before {
  content: "\e96d";
}
.kit-lineal-72:before {
  content: "\e96e";
}
.kit-lineal-73:before {
  content: "\e96f";
}
.kit-lineal-74:before {
  content: "\e970";
}
.kit-lineal-75:before {
  content: "\e971";
}
.kit-lineal-76:before {
  content: "\e972";
}
.kit-lineal-77:before {
  content: "\e973";
}
.kit-lineal-78:before {
  content: "\e974";
}
.kit-lineal-79:before {
  content: "\e975";
}
.kit-lineal-80:before {
  content: "\e976";
}
.kit-lineal-81:before {
  content: "\e977";
}
.kit-lineal-82:before {
  content: "\e978";
}
.kit-lineal-83:before {
  content: "\e979";
}
.kit-lineal-84:before {
  content: "\e97a";
}
.kit-lineal-85:before {
  content: "\e97b";
}
.kit-lineal-86:before {
  content: "\e97c";
}
.kit-lineal-87:before {
  content: "\e97d";
}
.kit-lineal-88:before {
  content: "\e97e";
}
.kit-lineal-89:before {
  content: "\e97f";
}
.kit-lineal-90:before {
  content: "\e980";
}
.kit-lineal-91:before {
  content: "\e981";
}
.kit-lineal-92:before {
  content: "\e982";
}
.kit-lineal-93:before {
  content: "\e983";
}
.kit-lineal-94:before {
  content: "\e984";
}
.kit-lineal-95:before {
  content: "\e985";
}
.kit-lineal-96:before {
  content: "\e986";
}
.kit-lineal-97:before {
  content: "\e987";
}
.kit-lineal-98:before {
  content: "\e988";
}
.kit-lineal-99:before {
  content: "\e989";
}
.kit-lineal-138:before {
  content: "\e98a";
}
.kit-lineal-140:before {
  content: "\e98b";
}
.kit-lineal-141:before {
  content: "\e98c";
}
.kit-lineal-142:before {
  content: "\e98d";
}
.kit-lineal-143:before {
  content: "\e98e";
}
.kit-lineal-144:before {
  content: "\e98f";
}
.kit-lineal-145:before {
  content: "\e990";
}
.kit-lineal-146:before {
  content: "\e991";
}
.kit-lineal-147:before {
  content: "\e992";
}
.kit-lineal-148:before {
  content: "\e993";
}
.kit-lineal-149:before {
  content: "\e994";
}
.kit-lineal-150:before {
  content: "\e995";
}
.kit-lineal-151:before {
  content: "\e996";
}
.kit-lineal-152:before {
  content: "\e997";
}
.kit-lineal-153:before {
  content: "\e998";
}
.kit-lineal-154:before {
  content: "\e999";
}
.kit-lineal-155:before {
  content: "\e99a";
}
.kit-lineal-156:before {
  content: "\e99b";
}
.kit-lineal-157:before {
  content: "\e99c";
}
.kit-lineal-158:before {
  content: "\e99d";
}
.kit-lineal-159:before {
  content: "\e99e";
}
.kit-lineal-160:before {
  content: "\e99f";
}
.kit-lineal-161:before {
  content: "\e9a0";
}
.kit-lineal-162:before {
  content: "\e9a1";
}
.kit-lineal-163:before {
  content: "\e9a2";
}
.kit-lineal-164:before {
  content: "\e9a3";
}
.kit-lineal-165:before {
  content: "\e9a4";
}
.kit-lineal-166:before {
  content: "\e9a5";
}
.kit-lineal-167:before {
  content: "\e9a6";
}
.kit-lineal-168:before {
  content: "\e9a7";
}
.kit-lineal-169:before {
  content: "\e9a8";
}
.kit-lineal-171:before {
  content: "\e9a9";
}
.kit-lineal-172:before {
  content: "\e9aa";
}
.kit-lineal-173:before {
  content: "\e9ab";
}
.kit-lineal-174:before {
  content: "\e9ac";
}
.kit-lineal-175:before {
  content: "\e9ad";
}
.kit-lineal-176:before {
  content: "\e9ae";
}
.kit-lineal-177:before {
  content: "\e9af";
}
.kit-lineal-178:before {
  content: "\e9b0";
}
.kit-lineal-179:before {
  content: "\e9b1";
}
.kit-lineal-180:before {
  content: "\e9b2";
}
.kit-lineal-181:before {
  content: "\e9b3";
}
.kit-lineal-182:before {
  content: "\e9b4";
}
.kit-lineal-183:before {
  content: "\e9b5";
}
.kit-lineal-184:before {
  content: "\e9b6";
}
.kit-lineal-185:before {
  content: "\e9b7";
}
.kit-lineal-187:before {
  content: "\e9b8";
}
.kit-lineal-188:before {
  content: "\e9b9";
}
.kit-lineal-189:before {
  content: "\e9ba";
}
